*
{
    padding: 0%;
    margin: 0%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 8.5%;
    margin-bottom: 1%;
}

body
{
    background-color: #82CAE0;
    font-size: 20px;
    font-family: Jetbrains Mono;
    margin-top: 5%;
    margin-left: 40%;
}

#number
{
    Font-size: 50px;
}

#btn
{
    background-color: #83BBF7;
    color: rgb(0, 0, 0);
    font-family: Jetbrains Mono;
    font-size: 25px;
    border-radius: 10px;
    border-width: 2.5px;
    width: 185px;
    height: 100px;
}

#text
{
    background-color: #83BBF7;
    text-align: center;
    font-size: 100px;
    font-family: Jetbrains Mono;
    border-radius: 10px;
    border-width: 2.5px;
    width: 180px;
    height: 160px;
}
